

/*html
{
	height: 100%;
	position: absolute;
}*/

body {
 /* background-color: #121212;*/
  min-height: 100%;
  position: absolute;
  min-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-image: url(https://media.giphy.com/media/9ZXsfNBxvPCPm/giphy.gif);
}

#main-content
{
	/*display: flex;*/
	/*height:100%;*/
	min-width: 100%;
	height: 900px;
	/*flex-flow: row wrap;*/
	position: absolute;
	justify-content: space-around;
}

.actual-input
{
	display:none;
}

span
{
	font-size: 13px;
}
#map
{
	height: 900px;
	width: 900px;
	position: absolute;
	left:30%;
	right:0;
	margin: 0 auto;
	
	
	/*order: 2;*/
}

#map > div
{
	position:relative;
	width: 18px;
	height: 18px;
	float: left;
	margin: .01px;
	border-radius: 2.3px;
	box-shadow: 1px;
	
}
.miss{
	background-color: #f4ec73;
}

.nolook
{
	background-color: #2a90cc;
}

.flag
{

}

.hit
{
	background-color: #f45c42;
}
.active
{
	background-color: #6d7b87;
}

.white{
	background-color: #ffc672;
}

#p1_cli_panel
{
position: absolute;
left:0;
}

#p2_cli_panel
{
position: absolute;
right: 0;
}


.fleetinfo, .rotatecw, .rotateccw, .moveforward, .movebackward
{
	background-color: #2a90cc;
}


.fleet-output
{
	margin-top: 20px;
}

.comm-options, .ship-options
{
	display: flex;
	flex-flow: row wrap;
	height: 100%;
}
.cli_msg
{
	font-size: 12px;
}

.bigevent
{
  font-size: 28px;
}

li
{
	font-size:12px;
	margin-top: 1px;
}
.shipname
{
	font-size: 16px;
}
.comm-options span
{
	display: inline-block;
}

.comm-options *,
{
	margin: 5px;
}

.btn
{
	margin: 3px;
}

input.form-control + input
{
	display: none;
}
.front
{
background-color: green;

}
.cli_input 
{
	
	flex-wrap: wrap;
	position: absolute;
	left:0;
	margin: 0 auto;
	right: 900px;
	/*width: 40%;*/
}
.cli_input span
{
	font-size: 14px;
}

.winner
{
	background-image: url(https://media.giphy.com/media/oTsbHUJkbpzUY/giphy.gif);
	background-size: cover;
}
.cli_input *
{
  positon: relative;
  
}
.cli_form_input
{
	margin-right: 25px;
	width:20%;
}

#player_cli_input
{

	height: 20px;
}